<html class="create_menu-bg">
<h1 class="title">Edit Cooking Menu</h1>

<form class="form" action="<%= cooking_path(@cooking.id) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label class="menu_name">
    Title:
    <input type="text" name="title" value="<%= @cooking.title %>" required autofocus>
  </label>
  <label class="menu_image">
    Image:
    <input type="url" name="image" value="<%= @cooking.image %>" placeholder="http://...">
  </label>

  <label class="materials">
    Materials:
    <%= select_tag(:material_id, options_for_select(Material.pluck(:name, :id)), {class:"span5"}) %>
  </label>

  <label class="sauces">
    Ingredients:
    <%= select_tag(:sauce_id, options_for_select(Sauce.pluck(:name, :id)), {class:"span6"}) %>
  </label>

  <label class="step">
    Steps:
    <textarea type="text" value="<%= @cooking.step %>" name="step" rows="20" cols="40">
    </textarea>
  </label>


  <button class="submit_button" type="submit">Done</button>
</form>
</html>
